:root {
    --white: #fff;
    --mpez: #fff5ec;
    --accent: #dc965a;
    --black: #0f0a0a;
    --gray: #5e6472;
    --icon-bg: rgb(255, 245, 236);
    --border: 1px solid rgba(255, 255, 255, 0.2);
    --section-padding: 7em 0em;
}
/* ------------fonts---------- */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Black.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-BlackItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Bold.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraBoldItalic.woff2")
            format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("Nunito-ExtraBold.woff2") format("woff2"),
        url("Nunito-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-BoldItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraLight.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Italic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraLightItalic.woff2")
            format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Light.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-LightItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Regular.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-SemiBold.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

.container {
    font-family: "Nunito";
}

/* header styles  */

#header nav {
    border-bottom: var(--border);
    padding: 0 1rem;
}

#header nav ul a {
    border-left: var(--border);
    height: 100%;
    padding: 1.45em;
    font-weight: 600;
}

#header nav ul a:nth-last-of-type(1) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: bold;
}

/* hero section */
#hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
        url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#hero h6 {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-weight: 500;
}
#hero h1 {
    font-size: 5.5em;
    font-weight: 700;
}
#hero h2 {
    font-size: 2.4em;
    margin-top: 1em;
    font-weight: 500;
}

.hero-text {
    color: white;
}

/* welcome section  */
#welcome {
    background: linear-gradient(90deg, var(--accent) 33.3%, transparent 33.3%);
    padding: var(--section-padding);
}

@media screen and (max-width: 990px) {
    #welcome {
        background: var(--white);
    }

    .welcome-text {
        margin-top: 6em;
    }
}

.img-box {
    padding: 1em;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}
#welcome img {
    max-width: 100%;
}
.welcome-text h3 {
    font-weight: 700;
    font-size: 2.5em;
}

.welcome-text h5 {
    font-weight: 600;
    font-size: 1.125em;
}

.welcome-text p:nth-of-type(1) {
    font-weight: 400;
    font-size: 1.125em;
    color: var(--gray);
}
.welcome-text p:nth-of-type(2) {
    font-weight: 400;
    font-size: 1em;
    color: var(--gray);
}

.btn {
    background-color: var(--accent);
    border-radius: 0;
    color: var(--white);
}

/* sevices section  */
#services {
    background-color: var(--mpez);
    padding: var(--section-padding);
}

.services-title h3 {
    position: relative;
    font-size: 2.7em;
    font-weight: 800;
}

.services-title h3::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    background-color: var(--accent);
}

.services-title p {
    margin: 4em 0;
}

#services i {
    font-size: 3.125em;
    color: var(--accent);
}

.services-box {
    background-color: #fff;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 2em;
}

.services-box * + * {
    margin-top: 1em;
}

/* skills section  */

#skills {
    padding: var(--section-padding);
}

#skills span {
    font-size: 12px;
}

.skills__card {
    padding: 2em;
}

#skills .skills__card:nth-of-type(1) .skills__card__section {
    background-color: var(--accent);
    color: var(--white);
}

#skills .skills__card:nth-of-type(2) .skills__card__section {
    background-color: var(--black);
    color: var(--white);
}

#skills .skills__card:nth-of-type(3) .skills__card__section {
    background-color: var(--mpez);
    color: var(--black);
    /* padding: 2em 0; */
}

#skills .skills__card:nth-of-type(3) span {
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 1.2em;
}

#skills .skills__card:nth-of-type(1) span {
    background-color: var(--black);
}

#skills .skills__card:nth-of-type(2) span {
    background-color: var(--accent);
}

#skills .skills__card span {
    padding: 4px 12px;
    border-radius: 30px;
}

.skills__card__section + .skills__card__section {
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.skills__card__section {
    padding: 1em;
}

.skills__card:nth-of-type(1) .skills__card__section > *,
.skills__card:nth-of-type(2) .skills__card__section > * {
    margin-top: 1em;
}

#skills .skills__card__section.my-skills {
    padding: 1.5885em 1em; /* change later */
}

/* skill-bar styles */

.skill-bar {
    width: 300px;
    height: 10px;
    background-color: var(--black);
    position: relative;
}

#skills .skill-bar span {
    padding: 0.5em 0.5em 1.5em 0.5em;
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 69%, 0 69%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 69%, 0 69%);
    position: absolute;
    top: -450%;
}

.skill-bar::before {
    content: "";
    position: absolute;
    height: 100%;
}

.skills__card__section:nth-of-type(1) .skill-bar span {
    left: calc(92% - 3.1em);
}

.skills__card__section:nth-of-type(1) .skill-bar::before {
    width: 92%;
    background-color: var(--accent);
}

.skills__card__section:nth-of-type(2) .skill-bar span {
    left: calc(75% - 3.1em);
}

.skills__card__section:nth-of-type(2) .skill-bar::before {
    width: 75%;
    background-color: var(--accent);
}

.skills__card__section:nth-of-type(3) .skill-bar span {
    left: calc(86% - 3.1em);
}

.skills__card__section:nth-of-type(3) .skill-bar::before {
    width: 86%;
    background-color: var(--accent);
}

.skills__card__section:nth-of-type(4) .skill-bar span {
    left: calc(88% - 3.1em);
}

.skills__card__section:nth-of-type(4) .skill-bar::before {
    width: 88%;
    background-color: var(--accent);
}

.skills__card__section:nth-of-type(5) .skill-bar span {
    left: calc(92% - 3.1em);
}

.skills__card__section:nth-of-type(5) .skill-bar::before {
    width: 92%;
    background-color: var(--accent);
}

.skill-bar span {
    transform: translate(0px, 7px);
}
/* portfolio section */
#portfolio {
    background-color: var(--mpez);
    padding: var(--section-padding);
}
.portfolio__text h3 {
    position: relative;
    font-size: 2.7em;
    font-weight: 800;
}
.portfolio__text h3::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    background-color: var(--accent);
}

.portfolio__text p {
    margin: 4em 0;
    color: var(--gray);
}
#portfolio nav a {
    padding: 1em 2em;
    color: var(--black);
    position: relative;
}

#portfolio nav a:nth-of-type(1)::before {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: var(--accent);
}

.portfolio__flex__item {
    padding: 2em;
}

.portfolio__card {
    padding: 1em;
    width: 22rem;
    height: 26.25rem;
    background-color: var(--white);
}

.portfolio__card img {
    max-width: 19.4rem;
    margin: 3em 1em;
}
.card-img-center img {
    margin: 5em 1em;
}

.portfolio__card span {
    color: var(--gray);
}
.portfolio__card h5 {
    color: var(--black);
    font-size: 1.25em;
    font-weight: 600;
}

/* testimonial section */
#testimonials {
    padding: var(--section-padding);
}

/* .testimonial-text {
    padding: 0 1em;
} */
.testimonial-text p {
    width: 22.5em;
    color: var(--gray);
}

.testimonial-text h6 {
    color: var(--black);
    font-weight: 600;
}
.testimonial-text span {
    color: var(--black);
    border-radius: 30px;
    padding: 0.25em 0.5em;
    font-weight: 600;
    font-size: 10px;
    box-shadow: 1px 1px 1px 1px rgb(15 10 10 / 10%);
}
.testimonial-text i {
    color: var(--accent);
}

.testimonial__item {
    max-width: 50%;
    max-height: 210px;
    padding: 1em 1em;
}

.testimonial__card img {
    max-width: 100%;
}

#testimonials img {
    left: 2em;
}

#testimonials .img-wrapper {
    position: relative;
}

#testimonials .img-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 75%;
    height: 100%;
    background-color: transparent;
    border: 2px solid var(--accent);
    z-index: -1;
}
