:root {
    --white: #fff;
    --mpez: #fff5ec;
    --accent: #dc965a;
    --black: #0f0a0a;
    --gray: #5e6472;
    --icon-bg: rgb(255, 245, 236);
    --border: 1px solid rgba(255, 255, 255, 0.2);
    --section-padding: 7em 0em;
}
/* ------------fonts---------- */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Black.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-BlackItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Bold.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraBoldItalic.woff2")
            format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("Nunito-ExtraBold.woff2") format("woff2"),
        url("Nunito-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-BoldItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraLight.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Italic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-ExtraLightItalic.woff2")
            format("woff2"),
        url("../fonts/nunito-woff/Nunito-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Light.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-LightItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-Regular.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito-woff/Nunito-SemiBold.woff2") format("woff2"),
        url("../fonts/nunito-woff/Nunito-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.container {
    font-family: "Nunito";
}

/* hero section */
#hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
        url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    color: white;
}
.hero-text * + * {
    margin-top: 1em;
}

/* welcome section  */
#welcome {
    padding: var(--section-padding);
    background: linear-gradient(90deg, var(--accent) 33.3%, transparent 33.3%);
}

.img-box {
    padding: 1em;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}
#welcome img {
    max-width: 100%;
}

.btn {
    background-color: var(--accent);
    border-radius: 0;
    color: var(--white);
}

/* sevices section  */
#services {
    background-color: var(--mpez);
    padding: var(--section-padding);
}
.services-title p {
    margin-top: 3em;
}

#services i {
    font-size: 3.125em;
    color: var(--accent);
}

.services-box {
    background-color: #fff;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 2em;
}

.services-box * + * {
    margin-top: 1em;
}
